POSTGRES_DB="mydb"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

RESEND=sometoken123
EMAIL_FROM="Chop <noreply@someprovider.com>"
LOGO_FOR_EMAIL="https://cloudinary.com//someimage.png"
NEXT_PUBLIC_URL="https://chop.so" # or deploy url